<div class="topbar topbar--amigo">
  <div class="container">
    <div class="topbar__inner">
      <span class="topbar__support">Suporte 24h</span>
      <a href="cliente/index.html" class="topbar__link">Fale Conosco</a>
      <a href="cliente/index.html" class="topbar__link">2ª via do Boleto</a>
      <div class="topbar__social">
        <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-amigo">
  <div class="container">
    <a class="navbar-brand" href="./"><strong class="provider-name">Multi Telecom</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-label="Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto gap-lg-2">
        <li class="nav-item"><a class="nav-link" data-nav href="./">Home</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="planos.html">Planos</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="clube/index.html">Clube</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="noticias/index.html">Notícias</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="cliente/index.html">Área do Cliente</a></li>
        <li class="nav-item"><a class="btn btn-amigo-cta ms-lg-2" href="assinar.html">Assinar</a></li>
      </ul>
    </div>
  </div>
</nav>
