<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{{BASE_PATH}}"><strong>{{PROVIDER_NAME}}</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto gap-lg-2">
        <li class="nav-item"><a class="nav-link" data-nav href="{{BASE_PATH}}">Home</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="{{BASE_PATH}}planos.html">Planos</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="{{BASE_PATH}}clube/index.html">Clube</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="{{BASE_PATH}}noticias/index.html">Notícias</a></li>
        <li class="nav-item"><a class="nav-link" data-nav href="{{BASE_PATH}}cliente/index.html">Área do Cliente</a></li>
        <li class="nav-item"><a class="btn btn-primary ms-lg-2" href="{{BASE_PATH}}assinar.html">Assinar</a></li>
      </ul>
    </div>
  </div>
</nav>
